body {
  margin: 0;
  background-image: url(../assets/IkeBPUsT_4x.jpg);
  background-size: cover;
  font-family: Verdana;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 1em;
}
a {
  color: grey;
}
a:link {
  text-decoration: none;
}

.contenedor {
  height: 100vh;
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  height: 6vh;
}
.logo {
  width: 25%;
  height: 50px;
  background-image: url(../assets/320px-Microsoft_Bing_logo.svg.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.nav {
  width: 25%;
}
.resto {
  width: 47%;
  text-align: right;
  margin-bottom: 10px;
}

/* BODY */

.buscar {
  text-align: center;
  margin-top: 15vh;
}
input {
  background-color: white;
  /* background-image: url('../assets/icons8-search-30.png'); */
  font-size: x-large;
  /* background-repeat: no-repeat;
  background-position: right; */
  padding-left: 20px;
  padding-right: 50px;
}
input[type='image'] {
  margin-left: -50px;
  padding: 0;
  vertical-align: -6px;
}
